@CHARSET "UTF-8";

html, body, #upload-form, #upload-form div {
	height: 100%;
	box-sizing: border-box;
}

.dragover h1.valign {
	color: red;
}

#signature-div span {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0.5em;
}

h1.valign {
	width: 100%;
	line-height: 150%;
	width: 80%;
	line-height: 150%;
	margin: 0 auto;
	padding: 1em;
	border: 0.1em dotted black;
}

h1 i.fa {
	font-size: 200%;
}

body.letter-body {
	padding-bottom: 6em;
}

.pdfpage {
	position: relative;
	top: 0;
	left: 0;
	/*border: solid 1px black;*/
	margin: 1em auto;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgba(0, 0, 0, 0.12);
}

#upload-form .pdfpage:last-child {
	margin-bottom: 20em;
}

.pdfpage>canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.pdfpage>div {
	position: absolute;
	top: 0;
	left: 0;
}

.inputControl {
	background: transparent;
	border: 0px none;
	position: absolute;
	margin: auto;
}

.inputControl[type='checkbox'] {
	margin: 0px;
}

.inputHint {
	opacity: 0.2;
	background: #ccc;
	position: absolute;
}
.inputHint.signature {
	opacity: 1;
}

footer.card-panel.upload {
	height: 10em;
}

footer.card-panel, footer.card {
	position: fixed;
	bottom: 0;
	height: 5.5em;
	width: 100%;
	left: 0;
	text-align: center;
	padding: 1em;
	margin: 0;
	z-index: 20;
	transition: all 0.3s ease-in;
}

footer.card-panel.expand {
	height: 20em;
}

footer.card.expand {
	height: 55em;
    overflow: auto;
}

footer .row fieldset.col[class*="push-"] {
	padding-bottom: 1em;
	margin-top: 1em;
}

#impressum {
	text-align: center;
}